.header{
	text-align: center;
	color: red;
	background: #E2D9F8;
}
.menu-bar{
	height: 80px;
	background: #fff;
}

.logo{
	padding: 10px;
	height: 75%;
	width: 100px;
	margin-left: 50px;
 	margin-right: auto;
}
.menu-bar a{
	color: #000;
	text-decoration: none;
}
.menu-item{
	width: 80px;
	font-weight: bold;
}
.menu-item-logo{
	width: 200px;
	margin-right: 50px;
}
.menu-item-search{
	padding: 20px;
	float: right;
}
.menu-bar ul li{
	display: inline-block;
	margin-right: 10px;
}
.left {
	padding: 10px 10px 0px 10px;
	margin: 30px 0px 0px 30px; 
	width: 300px;
	height: 300px;
	background:  url(images/templatemo_thumb_frame.png) no-repeat;
	float: left;
}
.product {
	font-family: arial;
	border:  1px solid #E7E2E2;
	margin: 0 auto;
	width: 1200px;
	height: 500px;
}
.center {
	margin: 10px 0px 0px 20px; 
	width: 500px;
	float: left;
}
.center ul {
	color: #969696;
}
.right {
	width: 300px;
	padding-top: 10px;
	margin: 10px 0px 0px 20px; 
	background: #EDEDED;
	border:  1px solid #E7E2E2;
	float: left;
}
.main {
	padding-top: 30px;
}
.none {
	list-style: none;
}
/*Woo qty*/
.woocommerce #quantity input::-webkit-outer-spin-button,
.woocommerce #quantity input::-webkit-inner-spin-button,
.woocommerce #content .quantity input::-webkit-outer-spin-button,
.woocommerce #content .quantity input::-webkit-inner-spin-button, .woocommerce-page #quantity input::-webkit-outer-spin-button,
.woocommerce-page #quantity input::-webkit-inner-spin-button,
.woocommerce-page #content .quantity input::-webkit-outer-spin-button,
.woocommerce-page #content .quantity input::-webkit-inner-spin-button {
   display: none;
}
.woocommerce .quantity, .woocommerce-page .quantity {
   position: relative;
   margin: 0 auto;
   overflow: hidden;
   zoom: 1;
   padding-right: 1.1em;
   display: inline-block;
}
.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty {
   width: 2.618em;
   height: 26px;
   float: left;
   padding: 0;
   margin: 0;
   text-align: center;
   border: 1px solid #bbb3b9;
   border-right: 0;
   font-weight: 700;
   border-radius: 2px 0 0 2px;
   -moz-appearance: textfield;
}
.woocommerce .quantity noindex:-o-prefocus, .woocommerce .quantity input[type=number], .woocommerce-page .quantity noindex:-o-prefocus, .woocommerce-page .quantity input[type=number] {
   padding-right: 1.2em;
}
.woocommerce .quantity .plus,
.woocommerce .quantity .minus, .woocommerce-page .quantity .plus,
.woocommerce-page .quantity .minus {
   display: block;
   padding: 0;
   margin: 0;
   position: absolute;
   text-align: center;
   width: 1.387em;
   height: 14px;
   text-decoration: none;
   overflow: visible;
   text-decoration: none;
   font-weight: 700;
   cursor: pointer;
   color: #515151;
   border: 1px solid #bbb3b9;
   background-color: #ebe9eb;
   text-shadow: none;
   line-height: 1;
   background-image: none;
}
.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover, .woocommerce-page .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover {
   background-color: #dad8da;
}
.woocommerce .quantity .plus, .woocommerce-page .quantity .plus {
   top: 0;
   right: 0;
   border-bottom: 0;
   border-radius: 2px 2px 0 0;
}
.woocommerce .quantity .minus, .woocommerce-page .quantity .minus {
   bottom: 0;
   right: 0;
   border-radius: 0 0 2px 2px;
}
.cat_icon
{

	width: 30px;
	height: 30px;
    vertical-align: middle;
    margin: 20px 1px 0px 0px;
}
.buy {
	color: #FFFFFF;
	border-radius: 10px;
	background: #EFAC37;
	width: 500px;
	height: 55px;
	margin: 0 auto;
}

	